
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.icon i {
	color: #fcd006;
}
.wrap {
	background: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin: auto;
}
.navbar-nav {
	font-size: 16px!important;
}
.nav-item {
	cursor: pointer;
}