<template>
	<div class="container pl-0 pr-0">
		<div class="row mb-3 mt-3">
			<div class="col-md-4 mb-2">
				 <div class="wrap text-center">
                    <div class="icon mb-2">
                        <i class="fas fa-hand-holding-usd fa-3x mt-2 mb-2"></i>
                        <h4>Income</h4>
                        <hr>
                    </div>
                    <div class="text-wrap vcenter">
                        <h4>{{ formatPrice(totalIncomeAmount) }} ks</h4>
                    </div>
                </div>
			</div>
			<div class="col-md-4 mb-2">
				 <div class="wrap text-center">
                    <div class="icon mb-2">
                    	<i class="fas fa-sign-out-alt fa-3x mt-2 mb-2"></i>
                        <h4>Expenses</h4>
                        <hr>
                    </div>
                    <div class="text-wrap vcenter">
                        <h4>{{ formatPrice(totalExpensesAmount) }} ks</h4>
                    </div>
                </div>
			</div>
			<div class="col-md-4 mb-2">
				 <div class="wrap text-center">
                    <div class="icon mb-2">
                        <i class="fas fa-coins fa-3x mt-2 mb-2"></i>
                        <h4>Balance</h4>
                        <hr>
                    </div>
                    <div class="text-wrap vcenter">
                        <h4>{{ formatPrice(totalBalance) }} ks</h4>
                    </div>
                </div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['expenses', 'income'],
		data() {
			return {
			}
		},
		methods: {
			formatPrice(value) {
		        return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
		    }
		},
		computed: {
	    	totalExpensesAmount: function() {
	    		return this.expenses.reduce((acc, item) => acc + item.amount, 0);
	    	},
	    	totalIncomeAmount: function() {
	    		return this.income.reduce((acc, item) => acc + item.amount, 0);
	    	},
	    	totalBalance: function() {
	    		return this.totalIncomeAmount - this.totalExpensesAmount;
	    	}
	    }
	}
</script>