<template>
	<el-row class="recordTable">
	  	<el-button 
	  		class="btn btn-bg mt-2"
	  		:loading="isLoading"
	  		v-for="item in options"
    		:key="item.id"
    		:value="item.value"
	  		type="warning"
	      	@click="amountFormDialog(item.value)" round>
	      	 	{{ item.label }}
	    </el-button>
		<el-dialog title="Transaction" :visible.sync="dialogFormVisible">
		  <el-form :model="amountForm" ref="amountForm" :rules="rules">
		    <el-form-item label="Amount" prop="amount" :label-width="formLabelWidth">
		      <el-input v-model.number="amountForm.amount" autocomplete="off"></el-input>

		    </el-form-item>
		    <el-form-item :label="amountForm.label" prop="category_id" :label-width="formLabelWidth">
		      <el-select v-model="amountForm.category_id" placeholder="Select">
	      	    <el-option
	      	      v-for="category in categories"
	      	      :key="category.id"
	      	      :label="category.name"
	      	      :value="category.id"
	      	      v-if="amountForm.label == category.type">
	      		</el-option>
		      </el-select>
		    </el-form-item>
		  </el-form>
		  <span slot="footer" class="dialog-footer">
		    <el-button @click="dialogFormVisible = false">Cancel</el-button>
		    <el-button type="primary" @click="createRecord('amountForm')">Save</el-button>
		  </span>
		</el-dialog>
		<balance-card :expenses="expenses" :income="income"></balance-card>
		<h2>Today</h2>
		<hr>
		<transition :data="recordTable"  :loading="tableLoading"></transition>
  	</el-row>
</template>

<style>
	.recordTable {
		margin: 10px auto 20px auto;
		width: 70%;
	}
	.btn-bg {
		font-weight: bold;
		width: 116px;
		color: #000;
		background-color: #fcd006;
		border-color: #fcd006;
		-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.5);
		-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.5);
		box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.5);
	}
	.btn-bg:hover {
		background-color: #fcd006;
		border-color: #fcd006;
	}
	.el-button {
		font-size: 16px!important;
	}
	
	.el-icon-arrow-down {
	    font-size: 12px;
	}
</style>

<script>
	import Transition from "./transition.vue";
	import BalanceCard from "./balance_card.vue";
  	export default {
	    data() {
	      return {
	      	isLoading: false,
	      	tableLoading: false,
	      	categories: null,
	      	dialogFormVisible: false,
	      	formLabelWidth: '120px',
	      	amountForm: {
	          	amount: null,
	          	label: '',
	          	category_id: null,
	          	category_type: '',
	        },
	        options: [{
		        value: 'Expenses',
		        label: 'Expenses'
		    },{
		        value: 'Income',
		        label: 'Income'
		    }],
	        recordTable: [],
	        income: [],
	        expenses: [],
	        rules: {
		      	amount: [	
					{ required: true, message: 'Amount is required'},
			      	{ type: 'number', message: 'It must be a number'}
		      	],
		      	category_id: [
		      		{ required: true, message: 'Please select one Category type from above', trigger: 'blur' }
		      	]
		    }
	      }
	    },
	    components: {
	    	'transition' : Transition,
	    	'balance-card' : BalanceCard
	    },
	    computed: {
	    	totalExpensesAmount: function() {
	    		return this.expenses.reduce((acc, item) => acc + item.amount, 0);

				   // this.expenses = this.recordTable[x].amount;
				   // console.log(array_sum(this.expenses));
	    	},
	    	totalIncomeAmount: function() {
	    		return this.income.reduce((acc, item) => acc + item.amount, 0);
	    	}
	    },
	    methods: {
	    	getRecord() {
	    		this.tableLoading = true;
		    	axios.get('/expenses')
		        .then(response => {
		            this.recordTable = response.data.data;
		            this.tableLoading = false;

		        })
		        .catch(function(error) {
		          console.log(error);
		      	})
		    },
		    getExpenses() {
	    		axios.get('/expensesAmount')
		        .then(response => {
		            this.expenses = response.data.data;

		        })
		        .catch(function(error) {
		          console.log(error);
		      	})
		    },
		    getIncome() {
	    		axios.get('/incomeAmount')
		        .then(response => {
		            this.income = response.data.data;

		        }).catch(function(error) {
		          console.log(error);
		      	})
		    },
		    showCategory() {
	  	    	axios.get('/categories')
	            .then(response => {
	                this.categories = response.data;
	            })
	            .catch(function(error) {
	              console.log(error);
	          	})
	        },
	    	amountFormDialog(value) {
	    		this.dialogFormVisible = true;
	    		this.amountForm.label = value;
	    	},
	      	createRecord(formName) {
	      		this.$refs[formName].validate((valid) => {
	        	    if (valid) {
	        	    	this.isLoading = true;
	        	    	this.tableLoading = true;
	    	            axios.post('/expenses', {
	    	                amount: this.amountForm.amount,
	    	                category_id: this.amountForm.category_id,
	    	                category_type: this.amountForm.label,
	    	            })
	    	            .then(response => {
	    	                this.$message({
			                	type: 'success',
			                	message: 'Saved',
	    	                });
	    	                this.dialogFormVisible = false;
	    	                this.getRecord();
	    	                this.getExpenses();
	    	                this.getIncome();
	    	                this.isLoading = false;
	    	                this.tableLoading = false;
	    	                this.$refs[formName].resetFields();
	    	            })
	    	        } else {
	    	            console.log('error submit!!');
	    	            return false;
	    	        }
	        	});
	      	},
	      	formatter(row, column) {
	  	        return row.address;
	  	    },
	  	    filterHandler(value, row, column) {
	  	        const property = column['property'];
	  	        return row[property] === value;
	  	    }
	    },
	    mounted() {
	    	this.getRecord();
	    	this.showCategory();
	    	this.getExpenses();
	    	this.getIncome();
	    }
  	}
</script>
