<template>
	<el-row justify="center">
		<el-col :span="18" :offset="3" justify="center">
			<el-menu
			default-active="index"
			:router="true"
		  	class="el-menu-demo"
		  	mode="horizontal">
			  	<el-menu-item index="1" route="/home" class="link">
		  				<i class="fas fa-home"></i> &nbsp;
						<span>Home</span>
		  		</el-menu-item>
		  		<el-menu-item index="2" route="/categories" class="link">
		  				<i class="el-icon-menu"></i>
						<span>All Categories</span>
		  		</el-menu-item>
		  		<el-menu-item index="3" route="/create" class="link">
		  				<i class="el-icon-circle-plus"></i>
						<span>Add New Categories</span>
		  		</el-menu-item>
			</el-menu>
		</el-col>
	</el-row>
</template>

<style>
	.link {
		color: #fff;
		text-decoration: none!important;
	}

</style>
<script>
  	export default {
	    methods: {
			
	    }
	}
</script>