<template>
	<el-row>
	  	<el-table
	  		v-loading="loading"
	  	    :data="data"
	  	    style="width: 100%; font-size: 16px"
	  	    :row-class-name="tableRowClassName">
	  	    <el-table-column
	  	      label="Date"
	  	      width="180">
	  	      	<template slot-scope="scope">
				    <i class="el-icon-time"></i>
				    <span style="margin-left: 10px">{{ scope.row.created_at }}</span>
				</template>
	  	    </el-table-column>
	  	    <el-table-column
	  	      prop="category_name"
	  	      label="Category Name"
	  	      width="180">
	  	    </el-table-column>
	  	    <el-table-column
	  	      prop="amount"
	  	      label="Amount">
	  	    </el-table-column>
	  	    <el-table-column
		          prop="category_name"
		          label="Type"
		          width="180"
		          :filters="[{ text: 'Expenses', value: 'Expenses' }, { text: 'Income', value: 'Income' }]"
		          :filter-method="filterTag"
		          filter-placement="bottom-end">
		        <template slot-scope="scope">
		            <el-tag
		              :type="scope.row.category_type === 'Expenses' ? 'danger' : 'success'"
		              disable-transitions>{{ scope.row.category_type }}</el-tag>
		        </template>
		    </el-table-column>
	  	</el-table>
	</el-row>
</template>

<style>
	.el-table__column-filter-trigger i {
		font-size: 17px!important;
		margin-left: 3px;
		font-weight: bold;
	}
</style>

<script>
	export default {
		props: ['data', 'loading'],
		data () {
			return {
				
			}
		},
		methods: {
			filterTag(value, row) {
	  	        return row.category_type === value;
	  	    },
	  	    tableRowClassName({row, rowIndex}) {
		        if (rowIndex === 1) {
		            return 'warning-row';
		        } else if (rowIndex === 3) {
		            return 'success-row';
		        }
		        	return '';
	      	},
		}
	}
</script>