<template>
    <el-form :model="createForm" ref="createForm" :rules="rules" class="createCategoryForm">
      	<el-form-item label="Category Name" prop="name">
        	<el-input v-model="createForm.name"></el-input>
      	</el-form-item>
      	<el-form-item label="Description" prop="description">
      	    <el-input type="textarea" v-model="createForm.description"></el-input>
      	</el-form-item>
      	<el-form-item label="Type" prop="value">
	      	<el-select v-model="createForm.value" placeholder="Select">
	      	    <el-option
	      	      v-for="item in options"
	      	      :key="item.id"
	      	      :label="item.label"
	      	      :value="item.value">
	      		</el-option>
	      	</el-select>
	    </el-form-item>
      	<el-form-item>
    		<el-button type="primary" @click="submitCategoryForm('createForm')">Create</el-button>
    	</el-form-item>
    </el-form>
</template>

<style type="text/css">
	.createCategoryForm {
		width: 50vw;
		margin: 20px auto;
	}
	.createCategoryForm label{
		font-weight: bold;
	}
</style>

<script>
	import axios from 'axios';
  	export default {
	    data() {
	      	return {
	      		createForm : {
	      			name: '',
			        description: '',
			        value: '',
	      		},
	        	options: [{
	    	        value: 'Expenses',
	    	        label: 'Expenses'
	    	    }, {
	    	        value: 'Income',
	    	        label: 'Income'
	    	    }],
			    rules: {
		          	name: [
		            	{ required: true, message: 'Please input Category name', trigger: 'blur' }
		          	],
		          	description: [
		          		{ required: true, message: 'Please input Description', trigger: 'blur' }
		          	],
		          	value: [
		          		{ required: true, message: 'Please select one Category type from above', trigger: 'blur' }
		          	]
		        }
	    	    
	      	}
	    },
	    methods: {
            submitCategoryForm(formName) {
            	this.$refs[formName].validate((valid) => {
            	    if (valid) {
	    	            axios.post('/categories', {
	    	                name: this.createForm.name,
	    	                description: this.createForm.description,
	    	                value: this.createForm.value,
	    	            })
	    	            .then(response => {
	    	                this.$message({
			                	type: 'success',
			                	message: 'Successfully created',
	    	                });
	    	                this.$refs[formName].resetFields();
	    	            })
	    	        } else {
	    	            console.log('error submit!!');
	    	            return false;
	    	        }
            	});
            }
	    }
  	}
</script>