<template>
    <el-form :model="editForm" ref="editForm" :rules="rules" class="editCategoryForm">
      	<el-form-item label="Category Name" prop="name">
        	<el-input v-model="editForm.name"></el-input>
      	</el-form-item>
      	<el-form-item label="Description" prop="description">
      	    <el-input type="textarea" v-model="editForm.description">{{ editForm.name }}</el-input>
      	</el-form-item>
      	<el-form-item label="Type" prop="value">
	      	<el-select v-model="editForm.value" placeholder="Select">
	      	    <el-option
	      	      v-for="item in options"
	      	      :key="item.value"
	      	      :label="item.label"
	      	      :value="item.value">
	      		</el-option>
	      	</el-select>
	    </el-form-item>
      	<el-form-item>
    		<el-button type="success" @click="updateModal()">Update</el-button>
    		<router-link
			    v-if="$routerHistory.hasPrevious()"
			    :to="{ path: $routerHistory.previous().path }">
			    <el-button>Go Back</el-button>
			</router-link>

    	</el-form-item>
    </el-form>
</template>

<style type="text/css">
	.editCategoryForm {
		width: 50vw;
		margin: 20px auto;
	}
	.editCategoryForm label{
		font-weight: bold;
	}
</style>

<script>
	export default {	
		data() {
		  	return {
		  		
		  		id: this.$route.params.id,
		  		editForm : {
		  			name: '',
			        description: '',
			        value: '',
		  		},
		    	options: [{
			        value: 'Expenses',
			        label: 'Expenses'
			    }, {
			        value: 'Income',
			        label: 'Income'
			    }],
			    rules: {
		          	name: [
		            	{ required: true, message: 'Please input Category name', trigger: 'blur' }
		          	],
		          	description: [
		          		{ required: true, message: 'Please input description', trigger: 'blur' }
		          	],
		          	value: [
		          		{ required: true, message: 'Please select one Category type from above', trigger: 'change' }
		          	]
		        },
		  	}
		},
		mounted() {
			axios.get('/categories/' + this.id +'/edit')
			.then(response => {
				this.editForm.name = response.data.name;
				this.editForm.description = response.data.description;
				this.editForm.value = response.data.type;
			})
		},
		methods: {
			updateCategory() {
				axios.patch('/categories/' + this.id,{
					name: this.editForm.name,
					description: this.editForm.description,
					value: this.editForm.value,
				})
				.then(response => this.$router.replace({ name: 'categories'}))
			},
			updateModal() {
				this.$confirm('Do you want to update?', 'Confirm', {
	         	distinguishCancelAndClose: true,
	         	confirmButtonText: 'Confirm',
	         	cancelButtonText: 'Discard Changes'
	       		})
	         	.then(() => {
		           	this.$message({
		             	type: 'info',
		             	message: 'Changes saved.',
		             	option: this.updateCategory()
		           	});
	         	})
	         	.catch(action => {
	           		this.$message({
	             	type: 'info',
	             	message: action === 'cancel'
	               	? 'Changes discarded. Proceeding to a new route.'
	               	: 'Stay in the current route'
	           		})
				})
			}
		}
	}
</script>