<template>
	<el-row>
		<cate-table :data="expenseCategories" @delete="deleteCategory"></cate-table>
	</el-row>
</template>

<style>
	.el-row {
		width: 100%;
		margin: auto;
		
	}
</style>

<script>
	import Table from "./table.vue";
	import editCategory from "./edit.vue";
	export default {
		data () {
			return {
				expenseCategories : [],
			}
		},
		components : {
			'cate-table' : Table,
		},
		mounted () {
			this.getExpensesCategories();
		},
		methods : {
			getExpensesCategories() {
				axios.get('/expenses/categories').then(response => {
					this.expenseCategories = response.data
				});
			},
			deleteCategory(arg) {
				axios.delete('/categories/' + arg.id).then(response => {
					this.$message({
	                	type: 'error',
	                	message: 'Deleted',
	                });
					this.getExpensesCategories();


				}).catch (function(error){
					console.log(error);
				})
			},

		}
	}
</script>