<template>
	<el-table
		v-loading="loading"
	    :data="data"
	    style="width: 100%; font-size: 16px">
	    <el-table-column
	      	type="index"
	      	width="100">
	    </el-table-column>
	    <el-table-column
	    	prop="name"
	      	label="Name"
	      	width="250">
	    </el-table-column>
	    <el-table-column
	    	prop="description"
	      	label="Description"
	      	width="280">
	    </el-table-column>
	    <el-table-column
	      label="Operations"
	      width="250">
	      	<template slot-scope="scope">
		        <router-link :to="{ name: 'editCategory', params: {id: scope.row.id} }">
		        		<el-button size="mini" icon="el-icon-edit"  style="font-size: 14px">Edit</el-button>
		        </router-link>
		        <el-button
		          size="mini"
		          type="danger"
		          @click="handleDelete(scope.row.id)"  style="font-size: 14px">Delete</el-button>
	      	</template>
	    </el-table-column>
	</el-table>
</template>

<style>
	.el-tabs__item {
		font-size: 16px!important;
	}
</style>

<script>
	import editCategory from "./edit.vue";
	export default {
		props : ['data', 'loading'],
		data() {
			return {
				
			}
		},
		methods : {
			handleDelete(id) {
				this.$emit('delete', {
					id : id
				})
			}
		}
	}
</script>

<style>
	.table-body {
		font-size: 28px!important;
	}
</style>