<template>
	<el-row style="width: 70%; margin: 20px auto;">
	  	<el-table
	  		:loading="isloading"
	  	    :data="expensesRecord"
	  	    style="font-size: 17px">
	  	    <el-table-column
	  	      label="Date"
	  	      width="180">
	  	      	<template slot-scope="scope">
				    <i class="el-icon-time"></i>
				    <span style="margin-left: 10px">{{ scope.row.created_at }}</span>
				</template>
	  	    </el-table-column>
	  	    <el-table-column
	  	      prop="category_name"
	  	      label="Category Name"
	  	      width="180">
	  	    </el-table-column>
	  	    <el-table-column
	  	      prop="amount"
	  	      label="Amount">
	  	    </el-table-column>
	  	    <el-table-column
		          prop="category_type"
		          label="Type"
		          width="180">
		    </el-table-column>
	  	</el-table>
	</el-row>
</template>

<style>
	
</style>

<script>
	export default {
		data() {
			return {
				expensesRecord: [],
				activeName: 'first',
				isloading: false,
			}
		},
	    mounted() {
	    	this.getRecord();
	    },
	    methods: {
	    	getRecord() {
		    	this.isloading = true;
		    	axios.get('/expensesRecord')
		        .then(response => {
		        	console.log(response.data.data);
		            this.expensesRecord = response.data.data;
		            this.isloading = false;

		        })
		        .catch(function(error) {
		          console.log(error);
		      	})
		    },
	    }
	}
</script>