<template>
	<div>
		<nav class="nav-bg-color navbar navbar-expand-md navbar-light navbar-laravel">
            <div class="container">
                <router-link class="navbar-brand" :to="{ path: 'dashboard' }">Money Manager</router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                    	<li v-if="$auth.check()" class="nav-item">
                            <router-link class="nav-link" :to="{ path : 'dashboard'}">Dashboard</router-link>
                        </li>
                        <li v-if="$auth.check()" class="nav-item">
                            <router-link class="nav-link" :to="{ path : 'expenses'}">Expenses</router-link>
                        </li>
                    	<li v-if="$auth.check()" class="nav-item">
                            <router-link class="nav-link" :to="{ path : 'incomes'}">Incomes</router-link>
                        </li>
                    	<li v-if="$auth.check()" class="nav-item">
                            <el-dropdown>
                                <span class="nav-link el-dropdown-link nav-item">
                                    Category<i class="fas fa-caret-down ml-1"></i>
                                </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>
                                        <router-link class="nav-link el-dropdown-link" :to="{ path : 'categories'}">
                                            All
                                        </router-link>
                                    </el-dropdown-item>
                                    <el-dropdown-item>
                                        <router-link class="nav-link" :to="{ path : 'create'}">
                                            Create New
                                        </router-link>
                                    </el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </li>
                        <li v-if="!$auth.check()" class="nav-item">
                            <router-link class="nav-link" :to="{ path : 'login'}">Login</router-link>
                        </li>
                        <li v-if="!$auth.check()" class="nav-item">
                            <router-link class="nav-link" :to="{ path : 'register'}">Register</router-link>
                        </li>
                        <li v-if="$auth.check()" class="nav-item" :user="user">
                            <!-- <a href="/login" class="nav-link" @click.prevent="$auth.logout()">Logout</a> -->
                            <el-dropdown>
                                <span class="nav-link el-dropdown-link nav-item">
                                    {{ $auth.user().name | capitalize }}<i class="fas fa-caret-down ml-1"></i>
                                </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>
                                        <a href="/login" class="nav-link" @click.prevent="$auth.logout()">Logout</a>
                                    </el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </li>
                    </ul>
                </div>
            </div>
    	</nav>

    	
    	<router-view></router-view>
	</div>
</template>

<style type="text/css">
    .el-dropdown {
        font-size: 16px!important;
    }
    .nav-bg-color {
        background-color: #fcd006;
    }
    .navbar-brand {
        font-weight: bold;
        font-size: 20px;
    }
    .navbar-collapse {
        float: right;
    }
    .nav-link {
        font-weight: 600;
    }
</style>

<script>
	export default {
        props: ['user'],
		data() {
            return {
                username: ''
            }
        },
        filters: {
            capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        }
	}
</script>