<template>
    <div class="container-fluid auth-form">
        <div class="d-flex justify-content-center login">
            <div class="card">
                <div class="card-header text-white">
                    <h3>Sign Up</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input v-model="username" type="text" class="form-control" placeholder="Username">
                            
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input v-model="email" type="email" class="form-control" placeholder="Email">
                            
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input v-model="password" type="password" class="form-control" placeholder="Password">
                        </div>
                        
                        <div class="form-group">
                            <button class="btn float-right login_btn" @click="register()">Register</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Do you have an account?
                        <router-link :to="{ path : 'login'}">Sign In</router-link>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                username: '',
                email: '',
                password: '',
                error: false,
                errors: {},
                success: false
            };
        },
        methods: {
            register(){
                var app = this
                this.$auth.register({
                    params: {
                        username: app.username,
                        email: app.email,
                        password: app.password
                    }, 
                    success: function () {
                        app.success = true
                    },
                    error: function (resp) {
                        app.error = true;
                        app.errors = resp.response.data.errors;
                    },
                    redirect: null
                });
                this.username = '';
                this.email = '';
                this.password = '';         
            }
        }
    }
</script>


<style>
    .auth-form{
        background-size: cover;
        background-repeat: no-repeat;
        height: 612px;
        padding: 50px 0;
        align-content: center;
        background-image: url(http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg);
    }
    .login {
        margin: 50px 0;
    }
    .card{
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
        background-color: rgba(0,0,0,0.5) !important;
    }
    .input-group-prepend span {
        width: 50px;
        background-color: #FFC312;
        color: black;
        border:0 !important;
    }

    .input-group-prepend span i {
        margin: auto;
    }

    input:focus{
        outline: 0 0 0 0  !important;
        box-shadow: 0 0 0 0 !important;

    }

    .remember{
        color: white;
    }

    .remember input
        {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

    .login_btn{
        color: black;
        background-color: #FFC312;
        width: 100px;
        font-weight: bold;
    }

    .login_btn:hover{
        color: #ffffff;
    }

    .links{
        color: white;
    }

    .links a{
        margin-left: 4px;
    }
</style>
